html,
body {
  display: grid;
  place-items: center;
}
html {
  height: 100%;
}
body {
  background: #fff;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  place-self: center;
  background: linear-gradient(90deg, #00f, #0ff, #00f) -100%/ 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font: 900 clamp(2em, 10vw, 10em) exo, sans-serif;
  animation: shimmer 2s linear infinite;
  text-align: center;
}

@keyframes shimmer {
  to {
    background-position: 100%;
  }
}

svg {
  width: 60vmin;
  height: 60vmin;
}
